.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Editor {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* .Editor .workingArea {
}

.Editor .fieldsList {
} */

.Editor .workingArea img {
  max-width: 100%;
}
.Editor input[type="number"],
.Editor textarea {
  font-size: 1.1rem;
  width: 100%;
  max-width: 300px;
}
